.container-input{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.container-input > label{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 5px 0px;
}

.container-input > input{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius :5px;

    font-size: 20px;
    padding: 10px;
    outline: none;
    color: var(--secondary-color);
}

.container-input > input::placeholder{
    color: var(--secondary-color);
}

.container-input > input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}