.container-button{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.container-button > button{
    font-weight: bold;
    font-size: 25px;
    color: #000;

    border: none;
    border-radius: 50px;
    background-color: var(--secondary-color);
    padding: 10px 20px;

    cursor: pointer;
    text-transform: uppercase;
}